/* fonts */
.miss-fajardose-regular {
  font-family: "Miss Fajardose", serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.cinzel-fonts {
  font-family: "Cinzel";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro';
  src: url('@/assets/fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro';
  src: url('@/assets/fonts/TrajanPro-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
